---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@/layouts/PageLayout.astro";
import { render } from "astro:content";
import { getLangFromUrl, useTranslations } from "src/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
export async function getStaticPaths() {
  const acts = await getCollection("act");
  return acts
    .map((act) => {
      const slugWithLang = act.id.replace(/\.(md|mdx)$/, "");
      const [lang, ...slugParts] = slugWithLang.split("/");
      const slug = slugParts.at(-1);
      if (!slug) return;

      return {
        params: { lang, slug },
        props: act,
      };
    })
    .filter(Boolean);
}
type Props = CollectionEntry<"act">;

const post = Astro.props;
const { Content } = await render(post);
---

<PageLayout post={post}>
  <div class="prose prose-slate dark:prose-invert max-w-[768px] mx-auto">
    <h4
      class="opacity-75 text-gray-500 dark:text-gray-400 font-semibold tracking-tight"
    >
      {t("cat.acts")}
    </h4>
    <Content />
  </div>
</PageLayout>
