---
import LanguageSelector from "./LanguageSelector";
import SoicalLink from "./SoicalLink.astro";
import TablerBrandThreads from "./icon/TablerBrandThreads.astro";
import TablerBrandFacebook from "./icon/TablerBrandFacebook.astro";
import TablerBrandInstagram from "./icon/TablerBrandInstagram.astro";
import TablerBrandTiktok from "./icon/TablerBrandTiktok.astro";
import TablerBrandYoutube from "./icon/TablerBrandYoutube.astro";
import TablerBrandX from "./icon/TablerBrandX.astro";
---

<footer id="footer" class="relative w-full print:hidden">
	<div
		class="pointer-events-none absolute h-full w-full bg-white shadow-[0_-4px_32px_rgba(0,0,0,.1)] transition-all duration-500 contrast-more:shadow-[0_0_0_1px_#000] dark:bg-black/80 dark:shadow-[0_1px_0_rgba(255,255,255,.15)_inset] contrast-more:dark:shadow-[0_0_0_1px_#fff]"
	>
	</div>
	<div
		class="relative mx-auto flex max-w-360 flex-col gap-8 py-8 pr-[max(env(safe-area-inset-right),2rem)] pl-[max(env(safe-area-inset-left),2rem)] md:max-w-[90vw]"
	>
		<div class="flex items-center gap-6 max-md:justify-center">
			<LanguageSelector client:only="react" />
		</div>
		<div class="flex items-center gap-6 max-md:flex-col-reverse md:justify-between">
			<div class="text-sm text-gray-500 dark:text-gray-300">
				© {new Date().getFullYear()} JUCHUNKO.COM All rights reserved.
			</div>

			<div class="flex items-center gap-4">
				<SoicalLink href="https://fb.com/dr.juchunko/">
					<TablerBrandFacebook className="size-6" />
				</SoicalLink>
				<SoicalLink href="https://instagr.am/dr.juchunko/">
					<TablerBrandInstagram className="size-6" />
				</SoicalLink>
				<SoicalLink href="https://tiktok.com/@dr.juchunko">
					<TablerBrandTiktok className="size-6" />
				</SoicalLink>
				<SoicalLink href="https://threads.net/@dr.juchunko">
					<TablerBrandThreads className="size-6" />
				</SoicalLink>
				<SoicalLink href="https://youtube.com/@dr.juchunko">
					<TablerBrandYoutube className="size-6" />
				</SoicalLink>
				<SoicalLink href="https://x.com/@dAAAb">
					<TablerBrandX className="size-6" />
				</SoicalLink>
			</div>
		</div>
	</div>
</footer>
