---
import { useTranslations } from "../i18n/utils";
import LegislatorActivityList from "./LegislatorActivityList";

type SupportedLang = "en" | "zh-TW";

type LegislatorActivityProps = {
	lang: SupportedLang;
};

const { lang = "zh-TW" } = Astro.props as LegislatorActivityProps;

const t = useTranslations(lang);

const carouselLabels = {
	activity: t("home.legislatorActivity.title"),
	propose: t("home.legislatorActivity.section.propose"),
	cosign: t("home.legislatorActivity.section.cosign"),
	meet: t("home.legislatorActivity.section.meets"),
    billStatus: t("home.legislatorActivity.billStatus"),
    law: t("home.legislatorActivity.law"),
    meetingType: t("home.legislatorActivity.meetingType"),
    location: t("home.legislatorActivity.location"),
};
---

<section>
    <LegislatorActivityList client:visible lang={lang} labels={carouselLabels} />
</section>
