---
import PageLayout from "../../layouts/PageLayout.astro";
import CardLink from "@/components/CardLink.astro";
import { getLangFromUrl, useTranslations } from "src/i18n/utils";
import { getCollection } from "astro:content";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export function getStaticPaths() {
	return [{ params: { lang: "en" } }, { params: { lang: "zh-TW" } }];
}

// Fetch blog posts for current language and attach category entries to each post
const acts = (await getCollection("act"))
	.filter((post) => post.id.startsWith(lang + "/"))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const manuals = (await getCollection("manual"))
	.filter((post) => post.id.startsWith(lang + "/"))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout>
	<!-- 法案行動 -->
	<h1 class="text-2xl font-semibold my-4">{t("cat.acts")}</h1>
	<div class="gap-4 grid sm:grid-cols-[repeat(auto-fill,minmax(300px,1fr))]">
		{acts.map((post) => <CardLink post={post} lang={lang} category="act" />)}
	</div>
	<!-- 寶博使用說明書 -->
	<h1 class="text-2xl font-semibold my-4">{t("cat.manuals")}</h1>
	<div class="gap-4 grid sm:grid-cols-[repeat(auto-fill,minmax(300px,1fr))]">
		{manuals.map((post) => <CardLink post={post} lang={lang} category="manual" />)}
	</div>
</PageLayout>
