---
import Layout from "./Layout.astro";
import Nav from "../components/Nav.astro";
import Footer from "@/components/Footer.astro";
import BaseHead from "@/components/BaseHead.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import type { CollectionEntry } from "astro:content";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export interface Props {
	post?: CollectionEntry<"fragment" | "manual" | "act">;
	title?: string;
	description?: string;
	image?: string;
}

const { post, title, description, image } = Astro.props;
const pageTitle = title || post?.data.title || t("site.title");
const pageDescription = description || post?.data.description || t("home.description");
const pageImage = image || post?.data.image || "/favicon.png";
---

<Layout>
	<BaseHead title={pageTitle} description={pageDescription} image={pageImage} url={Astro.url.href} slot="head" />

	<div class="relative flex min-h-[100svh] w-[100vw] flex-col">
		<div
			class="pointer-events-none absolute inset-0 -z-10 hidden h-[100svh] w-full bg-gradient-to-b from-gray-50 via-transparent md:block dark:from-white/10"
		>
		</div>
		<Nav />
		<div
			class="relative mx-auto w-full max-w-[90rem] flex-1 rounded-t-2xl bg-white py-10 pr-[max(env(safe-area-inset-right),2rem)] pl-[max(env(safe-area-inset-left),2rem)] md:max-w-[90vw] md:py-16 dark:bg-white/5"
		>
			<div
				class="pointer-events-none absolute top-0 left-0 hidden h-[90svh] w-full rounded-t-2xl border border-gray-100 md:block md:shadow-xl dark:border-white/5"
				style={{
					mask: `linear-gradient(to bottom, #000 0%, rgba(0,0,0,0) 50%)`,
				}}
			>
			</div>
			<slot />
		</div>
		<Footer />
	</div>
</Layout>

<script is:inline>
	document.addEventListener("DOMContentLoaded", () => {
		window.addEventListener("scroll", () => {
			const scrollTop = window.scrollY;
			const windowHeight = window.innerHeight;
			if (scrollTop > 0) {
				document.body.classList.add("scrolled");
			} else {
				document.body.classList.remove("scrolled");
			}
			if (scrollTop >= windowHeight / 2) {
				document.body.classList.add("scrolled-full");
			} else {
				document.body.classList.remove("scrolled-full");
			}
		});
	});
</script>
